{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



  {% block style %} {% endblock %}

  <title>Travellum | {% block title %} {% endblock %}</title>
</head>


<body>
    {% block content %}
    <div class="my-4 bg-white px-3 px-md-4 py-5">
      <section class="container">
        <h2 class="text-left my-4 mb-5">About<span style="color:#e66b58"> Travellum</span></h2>
        <p class="text-justify"><strong>Travellum </strong>provides a platform to connect travelers. It helps
          you
          find
          the perfect person
          to travel with. Maybe you want a guide who knows everything about the history of the
          place or maybe you are just searching for a companion to travel with. We’ve got you
          covered. We have a ton of travel guides you can choose from based on their rating.
          But
          instead, if you are thinking of employing yourself as a travel guide, you can do
          that
          from travellum. It is as easy as opening a facebook account.</p>
        <p class="text-justify">We are trying our best to introduce freelancing to the travel industry. If you
          really
          think you are capable of being a guide, we don’t ask you for your travel degree, you
          can
          simply register to our site. We will help you find the travellers who are looking
          for
          guides exactly like you. You can earn a decent amount of money without sacrificing
          your
          time in 9-5 job. Work whenever you want and earn the amount you deserve.</p>
        <p class="text-justify">We know traveling in a new place can be scary and as a human we need someone to
          accompany us when we are going someplace new. We can help you find the perfect
          person
          who can be your best bud while traveling. We know that you love meeting new people
          and
          going to new places. So why not choose who you want to travel with? Who knows, your
          perfect travel buddy could be the one you’ve been searching your whole life for.
        </p>
      </section> 
    
      <section class="container">
        <h2 class="text-left pt-3 my-5">Meet<span style="color:#e66b58"> The Team</span></h2>
    
        <div class="row gallery">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-3" data-aos="fade-right" data-aos-duration="1000">
            <figure>
              <img class="img-fluid" src="" alt="Samesh">
            </figure>
            <h5 
              class="ml-n4 mt-3 mb-1" 
              style="font-weight: 600; -webkit-transform: scaleX(0.88); transform: scaleX(0.88);"
            >
              Samesh Bajracharya
            </h5>
            <p class="font-italic">Front End Developer</p>
          </div>
    
          <div class="col-lg-4 col-md-6 col-sm-12 mb-3" data-aos="fade-up" data-aos-duration="1000">
            <figure>
              <img class="img-fluid" src="" alt="Bikesh">
            </figure>        
            <h5 
              class="ml-n4 mt-3 mb-1" 
              style="font-weight: 600; -webkit-transform: scaleX(0.88); transform: scaleX(0.88);"
            >
              Bikesh Bimali
            </h5>
            <p class="font-italic">Front End Developer</p>
          </div>
    
          <div class="col-lg-4 col-md-6 col-sm-12 mb-3" data-aos="fade-left" data-aos-duration="1000">
            <figure>
              <img class="img-fluid" src="" alt="Sagar">
            </figure>        
            <h5 
              class="ml-n4 mt-3 mb-1" 
              style="font-weight: 600; -webkit-transform: scaleX(0.88); transform: scaleX(0.88);"
            >
              Sagar Paudel
            </h5>
            <p class="font-italic">Back End Developer</p>
          </div>
    
          <div class="col-lg-4 col-md-6 col-sm-12 mb-3" data-aos="fade-right" data-aos-duration="1000">
            <figure>
              <img class="img-fluid" src="" alt="Samesh">
            </figure>        
            <h5 
              class="ml-n4 mt-3 mb-1" 
              style="font-weight: 600; -webkit-transform: scaleX(0.88); transform: scaleX(0.88);"
            >
              Buddha Gautam 
            </h5>
            <p class="font-italic">Back End Developer</p>
          </div>
    
          <div class="col-lg-4 col-md-6 col-sm-12 mb-3" data-aos="fade-up" data-aos-duration="1000">
            <figure>
              <img class="img-fluid" src="" alt="Samesh">
            </figure>        
            <h5 
              class="ml-n4 mt-3 mb-1" 
              style="font-weight: 600; -webkit-transform: scaleX(0.88); transform: scaleX(0.88);"
            >
              Biraj Adhikari
            </h5>
            <p class="font-italic">Back End Developer</p>
          </div>
      </section>
    </div>
{% endblock %}
</body>

</html>





